*{
    width: 100%;
    height:min-content;
    font-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
    color: antiquewhite;
    background-color: #1F1F1F;
}
body{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem 0;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

header {
    margin: 0;
    justify-content: center;
    width: auto;
    height: min-content;
}
.img-banner{
    height: 80px;
    width: auto;
    margin: 0.5rem;
    padding: 0.5rem 0;
}
.img-banner-selected{
    height: 40px;
    width: auto;
}
main{
    height: min-content;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0;
    width: min-content;
}
h1{
    font-family: 'Antic Didone', serif;
    text-align: center;
    font-size: 2rem;
}
h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    color: #fafafa;
}
h3{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #fffce5;
}
a{
    text-decoration: none;
}

/* NAV */
nav{
    margin: auto;
    position: fixed;
    bottom: 1vh;
    display: inline-flex;
    left: 0px;
    align-content: center;
    justify-content: space-between;
    background: none;
    height: min-content;

}
.nav_item{
    width: auto;
    height: 58px;
    justify-content: center;
    background: none;
}

.nav_item-pdf{
    border-radius: 8px;
    align-items: center;
}
.nav_item-pdf button{
    border-radius: 16px;
    padding:  1rem;
}

.home-btn{
    margin: 0;
    height: 58px;
    font-size: 1.6rem;
    font-weight: 700;
    width: fit-content;
    padding: 0.5rem 1rem ;
    border-radius: 0 8px 8px 0;
    box-shadow:  0px 0px 20px #2c2a00a2 ;
}
.navpdf{
    width: min-content;
}
  
 /* -- MENU --- */

.dropdown-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
    right: 0px;
    border-radius: 8px;
    width: min-content;
  }
  
  .dropdown {
    height: 60px;
    padding: 0.5rem 0 0.5rem 1rem;
    border-radius:   8px 0 0 8px ;
    border: none;
    display: flex;
    font-size: 1rem;
    cursor: pointer;
    color: #fafafa;
    align-items: center;
    white-space: nowrap;
    background-color: #101010dc;
    box-shadow:  0px 0px 20px #2c2a00a2 ;
  }
  
  .ri-menu-fold-line {
    position: relative;
    margin: 0;
    font-size: 1.5rem;
    /* transition: transform 0.2s ease-in-out; */
    background: none;
    width: min-content;
    padding: 0 0.5rem ;
    border-radius: 0 8px 8px 0;
  }
  
  .rotate-dropdown-arrow {
    transform: rotate(-180deg) ;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    bottom:  100%;
    flex-direction: column;
    border-radius: 8px 8px 0 0 ;
    border: none;
    width: max-content;
    padding: 10px;
    transform-origin: bottom right;
    margin: 0;
    right: 0;
  }
  
  .dropdown-menu li {
    padding: 10px;
    margin: 4px 0;
    flex-grow: 1;
    width: auto;
    font-size: 1.3rem;
    font-weight: 200;
    color: #fffce5;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    list-style: none;
    transition: background 0.6s ease-out;
    background-color: #101010ef;
    border-bottom: 1px solid #fff7cc35;
    border-radius: 8px ;
  }
  
  .dropdown-menu li:hover {
    background: #fff59b;
    color: #2b291c;}
  ul{
    background: none;
  }
  #openDropdown:checked + .dropdown-menu {
    display: flex;

    animation: openDropDown 0.4s ease 0s 1 forwards;
  }
  
  @keyframes openDropDown {
    from { transform: rotateX(50deg); }
    to { transform: rotateX(0deg); }
  }


  /* home CTAs */
button{
    padding: 0.6rem;
    padding-top: 0.8rem;
    margin: 0.7rem;
    height: fit-content;
    width: 80vw;
    background-color: #101010;
    border-style: none;
    border-radius: 8px;
    color: #fafafa;   
}
button:hover {
    color: #ffffe8;
    font-weight: 400;
    box-shadow:  0px 0px  10px #ffffddcc ;
}
.main-items{
    padding: 1.5rem ;
    margin: 0;
}
.main-items_btn{
    font-weight: 400;
    font-size: 1.13rem;
}
.btn-shows{
    background-color: #401f1f;
    color: #fafafa;
}

/*  pdf */
#canvas_container{
    height: 100%;
    background-color: #401f1f;
    align-items: center;
}
canvas{
    height: auto;
}

/*  footer  */
.main-redes{
    display: block;
    align-items: center;
    justify-content: center;
    width: min-content;
    margin: auto;
}
.main-redes_icon {
    display: flex;
    justify-content: center;
}
.main-redes_icon i{
    color: #c9c9c9;
    font-size: 2rem;
    margin: 1rem;
    padding: 0 0.5rem;
}
