*{
    width: 100%;
    height:min-content;
    font-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
    color: antiquewhite;
    background-color: #1F1F1F;
}
body{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem 0;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

header {
    margin: 0;
    justify-content: center;
    width: auto;
    height: min-content;
}
.img-banner{
    height: 70px;
    width: auto;
}
.img-banner-selected{
    height: 40px;
    width: auto;
}
main{
    height: min-content;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0;
    width: min-content;
}
h1{
    font-family: 'Antic Didone', serif;
    text-align: center;
    font-size: 2rem;
}
h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    color: #fafafa;
}
h3{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    color: #fafafa;
}
button{
    padding: 0.6rem;
    padding-top: 0.8rem;
    margin: 0.7rem;
    height: fit-content;
    width: 80vw;
    background-color: #101010;
    border-style: none;
    border-radius: 8px;
    color: #fafafa;   
}
button:hover {
    color: #ffffe8;
    font-weight: 400;
    box-shadow:  0px 0px  10px #ffffddcc ;
}
.main-items{
    padding: 1.5rem ;
    margin: 0;
}
.main-items_btn{
    font-weight: 400;
    font-size: 1.13rem;
}
.btn-shows{
    background-color: #401f1f;
    color: #fafafa;
}
iframe{
    justify-self: center;
    margin: auto;
    width: 97vw;
    height: 100vh;
    border: #000000 3px;
}
.home-btn{
    position: fixed;
    bottom: 30px;
    margin-left: 0;
    left: 0px;
    font-size: 2rem;
    width: min-content;
    background-color: #101010dc;
    padding: 0.5rem 1.5rem 0.5rem;
    border-radius: 0 8px 8px 0;
    box-shadow:  0px 0px 20px #2c2a00a2 ;
}


.main-redes{
    display: block;
    align-items: center;
    justify-content: center;
    width: min-content;
    margin: auto;
}
.main-redes_icon {
    display: flex;
    justify-content: center;
}
.main-redes_icon i{
    color: #c9c9c9;
    font-size: 2rem;
    margin: 1rem;
    padding: 0 0.5rem;
}
a{
    text-decoration: none;
}

  
  
 /* ----- */

.dropdown-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: fixed;
    bottom: 30px;
    margin-right: 0;
    right: 0px;
    width: auto;
  }
  
  .dropdown {
    background: #101010dc;
    padding: 0.5rem 1.5rem 0.5rem;
    border-radius:   8px 0 0 8px ;
    border: none;
    display: flex;
    font-size: 1.1rem;
    cursor: pointer;
    color: #c9c9c9;
    align-items: center;
    white-space: nowrap;
    box-shadow:  0px 0px 20px #2c2a00a2 ;
  }
  
  .ri-menu-fold-line {
    position: relative;
    font-size: 2rem;
    transition: transform 0.3s ease;
    font-size: 2rem;
    background: none;
    width: min-content;
    padding: 0.5rem 1.5rem 0.5rem;
    border-radius: 0 8px 8px 0;
  }
  
  .rotate-dropdown-arrow {
    transform: rotate(-180deg) ;
  }
  
  .dropdown-menu {
    background: #10101091;
    display: none;
    flex-direction: column;
    border-radius: 8px 8px 0 0 ;
    border: none;
    width: max-content;
    padding: 10px;
    transform-origin: bottom right;
    margin: 0 0.5rem;
  }

  .dropdown-menu li {
    padding: 10px;
    flex-grow: 1;
    width: 200px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    list-style: none;
    transition: background 0.3s ease;
    background:none;
    border-bottom: 1px solid hsla(51, 100%, 90%, 0.206);
  }
  
  .dropdown-menu li:active {
    background: #969696;
  }
  
  #openDropdown:checked + .dropdown-menu {
    display: flex;

    animation: openDropDown 0.4s ease 0s 1 forwards;
  }
  
  @keyframes openDropDown {
    from { transform: rotateX(50deg); }
    to { transform: rotateX(0deg); }
  }