:root {
    --bg-dark: #101010;
    --bg-main: #1F1F1F;
    --accent: #fffce5;
    --text-white: #fafafa;
    --shadow-btm: 0px -5px 20px rgba(0,0,0,0.8);
}
* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
    background-color: var(--bg-main);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--text-white);
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    /* Deshabilita zoom táctil pero permite scroll */
    touch-action: pan-x pan-y; 
}
a{
    text-decoration: none;
}

/* --- HOME --- */
.home-header { display: flex; justify-content: center; padding: 2rem 0; }
.img-banner { height: 80px; width: auto; }
.main-items { display: flex; flex-direction: column; align-items: center; }
.main-items_btns { display: flex; flex-direction: column; gap: 15px; width: 85%; max-width: 400px; }
.main-redes { 
    text-align: center; 
    margin-top: 2rem; }
.main-redes_icon { display: flex; justify-content: center; gap: 4rem;  margin-top: 10px; }
.main-redes_icon i {
    font-size: 2rem; 
    color: #fafafa;
    }

/* --- Canvas HEADER --- */
.visor-header { 
    background-color: var(--bg-dark); 
    height: 60px;
    width: 100%;
    position: sticky; top: 0; z-index: 1000;
    display: flex; align-items: center; justify-content: center;
    border-bottom: 1px solid #333;
}
#pdf_name { 
    color: var(--accent); 
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* --- CANVAS  --- */
#pdf-viewer-container { 
    display: flex; justify-content: center; 
    padding-top: 20px; 
    padding-bottom: 90px; 
    width: 100%;
}
#the-canvas {
    max-width: 95vw; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* --- LOADER --- */
#loader-container { display: flex; flex-direction: column; align-items: center; padding-top: 50px; }
.loader-text { margin-top: 10px; color: var(--accent); font-weight: 200; }
.spinner { width: 40px; height: 40px; border: 3px solid rgba(255,255,255,0.1); border-left-color: var(--accent); border-radius: 50%; animation: spin 1s linear infinite; }
@keyframes spin { to { transform: rotate(360deg); } }

/* --- NAVEGACIÓN INFERIOR --- */
.nav-bottom {
    position: fixed; bottom: 0; left: 0; width: 100%; z-index: 2000;
    background-color: var(--bg-dark);
    border-top: 1px solid #333;
    padding-bottom: env(safe-area-inset-bottom);
}
.nav-container { 
    width: 100%; max-width: 600px; margin: 0 auto;
    display: flex; justify-content: space-around; align-items: center; 
    padding: 10px 15px; height: 60px;
}

/*Nav Paginas */
.nav-pagination-group {
    display: flex; align-items: center; gap: 15px;
    background-color: rgba(255,255,255,0.05);
    padding: 5px 15px; border-radius: 30px;
}
.page-indicator { 
    font-family: 'Josefin Sans'; font-size: 1rem; color: var(--text-white); font-weight: 600; min-width: 40px; text-align: center; 
}

/* DROPDOWN Menu*/
.dropdown-container { position: relative; }
.dropdown-menu { 
    display: none; position: absolute; bottom: 55px; right: -10px;
    background: #1a1a1ae6; width: 200px; list-style: none; 
    border-radius: 12px; border: 1px solid #444; overflow: hidden; 
    box-shadow: 0 -5px 20px rgba(0,0,0,0.5); backdrop-filter: blur(10px);
}
.dropdown-menu li a { display: block; padding: 15px; color: var(--accent); text-decoration: none; text-align: center; border-bottom: 1px solid #333; }
.dropdown-menu li:last-child a { border-bottom: none; }
#openDropdown:checked ~ .dropdown-menu { display: block; }

/* Botones  */
button {
    width: 100%; padding: 1rem; background-color: var(--bg-dark);
    border: 1px solid #333; border-radius: 12px;
    color: var(--text-white); font-size: 1rem; cursor: pointer;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    position: relative; overflow: hidden;
}
button:hover, button:active {
    border-color: #fffce5d3; 
    color: var(--accent);
    box-shadow: 0 0 10px #fffce5b2; 
    transform: translateY(-2px);
}
/* Shows */
.btn-shows { background-color: #391010;
     border-color: #391010; }

 /* Rooftop */
.btn-rooftop {
    background-color: #fafafa; 
    color: #101010; 
    border-color: #fafafa;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-rooftop:hover,
.btn-rooftop:active {
    background-color: #efefef;
    color: #101010;
}

/*  GOOGLE REVIEWS */
.btn-google {
    background-color: transparent; 
    color: #e8eaed;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;border: none;
    margin-top: 0.5rem;
}

.btn-google:hover,
.btn-google:active {
    background-color: #10101032; 
    
    text-shadow: 0 0 5px #0000   ;
    transform: translateY(-1px);
    font-weight: 700;
}
/*  Menu principal */
.nav-btn-action {
    width: 44px; height: 44px; border-radius: 50%;
    background: transparent; border: none;
    color: var(--accent); font-size: 1.5rem;
    display: flex; align-items: center; justify-content: center;
    transition: all 0.2s ease-out;
}
.nav-btn-action:active {
    background-color: rgba(255, 255, 255, 0.05);
    text-shadow: 0 0 10px var(--accent);
    box-shadow: 0 0 10px rgba(255, 252, 229, 0.2);
    transform: scale(1.1);
}

/*Botones Flechas */
.nav-btn-control { 
    width: 40px; height: 40px; background: transparent; border: none;
    color: var(--text-white); font-size: 1.8rem; 
    display: flex; align-items: center; justify-content: center;
    transition: transform 0.1s; cursor: pointer;
}
.nav-btn-control:active { 
    color: var(--accent); text-shadow: 0 0 8px var(--accent);
    transform: scale(0.85);
}

/*Botón Cerrar (Excepción Roja) */
.btn-close-top {
    position: absolute; right: 15px; width: auto; padding: 5px;
    border: none; background: transparent; 
    font-size: 1.8rem; color: #ff6b6b; 
    box-shadow: none !important; transform: none !important;
}
.btn-close-top:active { color: #ff0000; transform: scale(0.9) !important; }